<!DOCTYPE html>
<html>

<head>
    <title>Simple Asset Prototype</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
    <br><br>
    <div class="container">
        <h1>반갑습니다. Simple Asset 페이지 입니다. </h1>
        <br>
        <a href="/create" class="btn btn-secondary"> 자산생성 </a>
        <br><br>
        <a href="/query" class="btn btn-secondary"> 자산조회 </a>
    </div>

</body>

</html>